<!DOCTYPE html>
<!-- this is a template for the web pages-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Club</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="container">
        <!-- this is a area that is used for website names and logos-->
        <header>
            <a href="template/fitness.html"><img src="../images/ffc_logo.png" alt="the club logo">
            </a>
            Fitness Club
        </header>
        <!-- this is area used for the hyperlinks-->
        <nav>
            <a href="/index.html"> Home </a> &nbsp; &nbsp;
            <a href="about.html">About Us </a> &nbsp; &nbsp;
            <a href="classes.html"> Claasses</a> &nbsp; &nbsp;
            <a href="Nutrition"> Nutrition</a> &nbsp; &nbsp;
            <a href="contact us"> Contact us</a> &nbsp; &nbsp;

        </nav>
        <!-- this is area used for the contents of the page-->
        <main>
            <h1>Weight</h1>
            <img class="euip" src="../images/equipment1 (1).jpg" alt="Weight equipment">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut corrupti facere ipsam fugit quis, quam
                suscipit, dolorem quod corporis repellendus neque similique atque dolor vitae ipsa labore enim culpa
                illum.</p>
            <ul>
                <li>Dumblells</li>
                <li>Kettle bels</li>
                <li>Barbells</li>
            </ul>
            <h1>Cardio</h1>
            <img class="euip" src="../images/equipment2.jpg" alt="Cardio equipment">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat velit sit perspiciatis numquam laborum
                dignissimos repudiandae quisquam! Recusandae nesciunt molestiae aperiam. Alias fuga quia fugit corporis
                esse porro eligendi quis.</p>
            <ul>
                <li>Treadmills</li>
                <li>Ellipical Machines</li>
                <li>Exercise Bikes</li>
            </ul>

            <h1>Personal Training</h1>
            <img class="euip" src="../images/equipment3.jpg" alt="Personal Training">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae aliquid fugit necessitatibus possimus
                iusto dicta ratione deserunt sunt optio dolor laudantium eaque doloremque, temporibus aspernatur eum
                consequuntur perferendis error eligendi?</p>

            <ul>
                <li>Accountability</li>
                <li>Personalized Programs</li>
                <li>Consistent Support and Motivations</li>
            </ul>

            <h1>Common Exercises</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus laboriosam eum ipsa facere
                omnis, cupiditate repellendus aspernatur magnam quia fugiat porro temporibus deserunt autem provident
                nostrum ullam perspiciatis labore?</p>

            <dl>
                <dt>Burpee</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, illum. Reprehenderit ipsam fugiat
                    molestias perspiciatis sed nam aperiam iusto, ea, deserunt obcaecati tempore dolore accusamus
                    inventore magnam, dignissimos recusandae. Dolores.
                    Exercitationem aperiam voluptatum dolore eaque in, pariatur velit at neque voluptates provident ex
                    tenetur beatae sint! Tenetur minima, mollitia natus tempora pariatur quo aperiam ad aut quaerat
                    voluptatem cumque corporis!
                    Impedit veritatis eos, ab ratione dolore velit earum dolor autem aliquid rem ea quo facilis veniam
                    quae cupiditate ex accusantium explicabo odit inventore corrupti voluptate magnam? Veniam error sit
                    repellat!
                    Eaque quasi rerum at. Corporis maiores repudiandae earum mollitia aliquid laudantium, deleniti fugit
                    culpa provident possimus enim deserunt unde quod nemo atque illo quas dicta ipsam quasi error
                    officiis et.
                    Provident ipsam harum rem, nam quidem cumque sit nesciunt animi dicta nemo nobis quibusdam neque?
                    Obcaecati pariatur amet perspiciatis necessitatibus dolore cupiditate vitae. Neque provident nam
                    cupiditate rerum iure rem!</dd>
                <br>
                <dt>Plank</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, sit. Eligendi tempora magni,
                    voluptates et doloremque recusandae iste, quia dicta quasi nam earum assumenda fugiat consectetur
                    quos quas, temporibus optio.
                    Vitae eos corrupti ipsa esse dignissimos nostrum perferendis atque rem, aperiam commodi, provident
                    eum quisquam ex! Asperiores ratione nam dignissimos unde deserunt iste vel rerum deleniti!
                    Perferendis enim repellendus tempore?
                    Impedit sequi deleniti tempore itaque vitae quasi repellat nihil laudantium. Cupiditate magnam minus
                    reprehenderit, modi et ab delectus sed ad natus eaque voluptates dicta amet blanditiis ex vitae
                    officia possimus.
                    Culpa consequatur ullam earum animi commodi necessitatibus enim iure rerum laboriosam excepturi
                    cumque nam recusandae architecto vitae dicta numquam eligendi nihil modi, error quae cupiditate
                    eveniet praesentium? Officiis, inventore unde.
                    Reiciendis, dolor deserunt quibusdam tenetur nobis animi perferendis natus commodi. Iste corporis
                    suscipit id quasi omnis rerum dolorum libero cum mollitia facere natus expedita iure nulla nisi,
                    odio molestias excepturi.</dd>
                <br>
                <dt>Mountain Climb</dt>
                <dd>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem perferendis ipsa soluta magni
                    qui non ea consequatur iusto, animi aspernatur molestias totam voluptas vero cum? Aliquid iure
                    consectetur possimus beatae!

                </dd>
            </dl>

            <p>For more information please visit the following link <a
                    href="https://www.ontariofitnesscouncil.com/">fitness.org</a></p>

        </main>
        <footer>
            &copy; Copyright 2021. All Rights Reserved <br>
            <a href="mailto:fitnessclub@club.com">fitnessclub@club.com</a>
        </footer>
    </div>
</body>

</html>