<!DOCTYPE html>
<!-- this is a template for the web pages-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Club</title>
</head>

<body>
    <div id="container">
        <!-- this is a area that is used for website names and logos-->
        <header>
            <a href="about.html"><img src="../images/ffc_logo.png" alt="the club logo">
            </a>
            Fitness Club
        </header>
        <!-- this is area used for the hyperlinks-->
        <nav>
            <a href="/index.html"> Home </a> &nbsp; &nbsp;
            <a href="about.html">About Us </a> &nbsp; &nbsp;
            <a href="classes.html"> Claasses</a> &nbsp; &nbsp;
            <a href="Nutrition"> Nutrition</a> &nbsp; &nbsp;
            <a href="contact us"> Contact us</a> &nbsp; &nbsp;

        </nav>
        <!-- this is area used for the contents of the page-->
        <main>
            <p>Welcome to Fitness Club. Our mission is to
                meet our client firness and nutrition goals</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fugit nemo, sed natus cupiditate
                iste voluptate, eligendi recusandae, nam hic sapiente! Cumque possimus, ex et commodi a vero nam eos.
            </p>
        </main>
        <footer>
            &copy; Copyright 2021. All Rights Reserved <br>
            <a href="mailto:fitnessclub@club.com">fitnessclub@club.com</a>
        </footer>
    </div>
</body>

</html>